<h1>New Drawing</h1>
<%= render :partial => 'editor_page', :locals => {:is_new => true, :picture_url => @picture.image.url, :save_url => "/pictures/#{@picture.id}/drawings", :save_method => 'post', :log => nil} %>
<%= link_to 'Back', picture_path(@picture) %>
