#canvas-container {
  float: left;
  position: relative;
  padding: 20px;
  border: 3px solid #7f3300;
  background: url('/images/wood_pattern.jpeg');
}

#canvas-container canvas {
  position: absolute;
}

#tool-bar {
  float: left;
  width: 120px;
  margin-left: 50px;
}

#tool-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: visible;
  margin-top: 15px;
  height: 118px;
}

#tool-bar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tool-bar .farbtastic {
  left: -35px;
}

#tool-bar #buttons li {
  float: left;
  width: 59px;
  height: 59px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  -moz-transition: -moz-box-shadow .2s ease-in-out;
  -o-transition: -o-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}
#tool-bar #buttons li img {
  width: 45px;
  height: 45px;
  padding: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #3194c6;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
  background: -moz-linear-gradient(#3194c6, #5bacd6);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

#tool-bar #buttons li.sel {
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
}

#tool-bar #buttons li.sel img {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

#tool-bar #settings {
  margin: 5px;
  margin-left: 2px;
  margin-top: 15px;
  height: 120px;
}

#tool-bar #settings div {
  display: block;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 45px;
  height: 45px;
  margin-bottom: 2px;
  margin-top: 15px;
}

#tool-bar #settings .sel {
  background-color: highlight;
  color: highlighttext;
}

#tool-bar #settings div {
  margin-left: 10px;
  float:left;
}

#drawCanvas {
  background-color: white;
  overflow: auto;
  position: relative;
  left: 0px;
  right: 0;
  top: 0px;
  z-index: 3;
  border: 1px solid #000;
}

