<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<h1 class="title">Contact</h1>
<p>
  Contact Coloring Practice at the <a href="http://nackhwa7.blog.me">Developer's blog</a>
</p>
