<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<h1 class="title">Home</h1>
<% if !signed_in? %>
<p class="signup_message">
  This is the home page for Coloring Practice Web application. <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</p>
<% end %>
<h4>Recently Uploaded Scenery</h4>
<div class="recent-picture">
<% for picture in @recent_pictures %>
  <%= link_to image_tag(picture.image.url(:thumb)), picture_path(picture) %>
<% end %>
</div>
<h4>Recently Drawing</h4>
<div class="recent-drawing">
<% for drawing in @recent_drawings %>
  <%= link_to image_tag(drawing.image.url(:thumb)), picture_drawing_path(drawing.picture, drawing) %>
<% end %>
</div>
