<footer>
  <nav class="round">
    <div>This site is viewed best in Google Chrome(This is demo for <%= link_to "GOD", about_path %>, so it's ok).<br />Powered By <%= link_to "bongye", contact_path %>, Wafflestudio cream 5th.</div>
    <div class="logo">
      <%= image_tag("/images/wafflestudio_logo.png") %>
    </div>
  </nav>
</footer>
